<!DOCTYPE HTML>
<html>
    <body>
    <h1>#{username}, напишите что хотите!)</h1>
        <form method="post">
            <p>
                <b>Текст</b>
                <br>
                <input type="text" name="post_text" value=#{post_text}> 
            </p>
            <button type="submit">Обновить</button>
        </form>
    </body>
</html>